.wrapper{
    height: 100%;
    width: 100%;
    padding: 25px;
}


nav {
    border: 1px solid red;
    background-color: violet;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 140px;
    margin-top: 50px;
    height: 100px;
    position: relative;
  }

nav div.name {
    border: 1px solid blue;
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    height: 95px;
    font-size: 20px;;
    top:20px;
    left:5%;
    padding: 15px;
  }

nav ul{
    list-style-type: none;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    
}


.main-container{
    border: 2px solid violet;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left:7.5%;
    margin-right:7.5%;
}

.cover-photo{
    background-color: white;
}

.main-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 5%;
}


.second-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left:7.5%;
    margin-right:7.5%;
    margin-top: 50px;
}

.scpic{
    width: 90%;
    height: 200px;
    border: 5px solid violet;
}

@media(max-width: 970px){
    .main-container {
        margin-right: 0;
        margin-left:0;
    }
}

@media(max-width: 890px){
    .main-container {
        display: flex;
        flex-direction: column;
        height: 80%;
        margin-right: 7.5%;
        margin-left: 7.5%;
    }
    .second-container{
        display: flex;
        flex-wrap: wrap;
    }
    .second-container div{
        flex: 50%;
    }

    nav{
        padding-right: 70px;
    }

    nav ul{
        width: 300px;
    }
}

@media(max-width: 600px){
    nav{
        display: flex;
        flex-direction: column;
        padding-right: 25%;
    }
    nav div.name{
        position: relative;
        margin-bottom: 35px;
    }

    nav ul{
        
    }
}

@media(max-width: 420px){
    .second-container{
        display: flex;
        flex-direction: column;
    }

   
}