.wrapper{
    height: 100%;
    width: 100%;
    padding: 25px;
}

.main-container{
    border: 2px solid violet;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left:7.5%;
    margin-right:7.5%;
}

.cover-photo{
    background-color: white;
}

.main-container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 5%;
}


.second-container{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left:7.5%;
    margin-right:7.5%;
    margin-top: 50px;
}

.scpic{
    width: 90%;
    height: 200px;
    border: 5px solid violet;
}


.tc1{
    grid-area: tc1;
    border:5px solid violet;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 40px;
   
}

.tc1 img{
    margin-left: 10px;
}

.tc1 p{
    margin-left: 10px;
}

.tc1 h1{
    background: darkblue;
    text-align: center;
    color: white;
    margin-top: -20px ;
    margin-left: 20px;
    width: 55%;
    position: relative;
    
}





.tc2 h1{
    background: blue;
    text-align: center;
    color: white;
    margin-top: -20px ;
    margin-left: 20px;
    width: 50%;
    position: relative;
    
}





.tc2{
    grid-area: tc2;
    border:5px solid violet;
    margin-left:20px;
    margin-bottom: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: blueviolet;
    color: white;
}

.tc2 h1{
    background: darkblue;
    text-align: center;
    color: white;
}

.tc2 p{
    margin: 10px;
}

.tc3{
    grid-area: tc3;
    border:5px solid violet;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 100px;
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tc1pic{
    width: 30%;
    height: 18%;
    float: left;
}

.tc1 h2{
    float: right;
    margin-right: 10%;
}

.tc1 p{
    float: left;
}

.tc3pic{
    width:45%;
    height:100%;
}

.tc3 h3{
    margin-left: 5px;
}


.third-container{
    display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: 350px 350px;

    grid-template-areas:
    "tc1 tc2"
    "tc1 tc3"
    
}








@media(max-width: 970px){
    .main-container {
        margin-right: 0;
        margin-left:0;
    }
}

@media(max-width: 890px){
    .main-container {
        display: flex;
        flex-direction: column;
        height: 80%;
        margin-right: 7.5%;
        margin-left: 7.5%;
    }
    .second-container{
        display: flex;
        flex-wrap: wrap;
    }
    .second-container div{
        flex: 50%;
    }
    .tc1 h2{
        margin-right: 0%;
    }

}

@media(max-width: 850px){
    .third-container{
        display: flex;
        flex-direction: column;
    }
    .tc1 h2{
        margin-right: 12%;
    }

}




@media(max-width: 420px){
    .second-container{
        display: flex;
        flex-direction: column;
    }

    .third-container{
        display: grid;

    grid-template-columns: auto auto;
    grid-template-rows: 700px 300px 400px;

    grid-template-areas:
    "tc1 tc1"
    "tc2 tc2"
    "tc3 tc3"
    }

    .tc1{
        margin:10px;
        margin-top: 50px;
    }

    .tc2{
        margin:10px;
        margin-top: 40px;
    }

    .tc3{
        margin:10px;
    }

    
   
}


